@import "../app/_utils";

.ec-login-page {
  position: relative;

  .ec-login-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }
  .ec-login-item {
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  #ec-login-button {
    position: absolute;
    width: 66.66%;
    left: 50%;
    transform: translateX(-50%);
  }
}
